# {{tool.name}}

## Introduction
{{tool.introduction|default('')}} 

## Example
The help menu:
~~~

{{tool.option_list|default('')}}

~~~

To run the tool use:
~~~
biopet tool {{tool.name}} {{tool.run|default('')}}   
~~~


## Output
{{tool.output|default('')}}
